In [21]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso, LogisticRegressionCV

In [2]:
data = pd.read_pickle("data_with_clusters.pkl")
data.head(5)

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,education_Master,education_PhD,MntRegularProds,AcceptedCmpOverall,MinorsAtHome,TotalMntSpent,marital_status,education,has_a_partner,cluster
0,58138.0,0,0,58,635,88,546,172,88,88,...,False,False,1441,0,0,3058,Single,Graduation,False,1
1,46344.0,1,1,38,11,1,6,2,1,6,...,False,False,15,0,2,42,Single,Graduation,False,5
2,71613.0,0,0,26,426,49,127,111,21,42,...,False,False,692,0,0,1468,Together,Graduation,True,2
3,26646.0,1,0,26,11,4,20,10,3,5,...,False,False,43,0,1,96,Together,Graduation,True,3
4,58293.0,1,0,94,173,43,118,46,27,15,...,False,True,392,0,1,814,Maried,PhD,True,0

In [6]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop("Response", axis=1), data.Response, test_size=0.33, random_state=42
)

In [31]:
std_scaler = StandardScaler()
X_train_scaled = std_scaler.fit_transform(X_train.select_dtypes("number"))
model = LogisticRegressionCV(cv=5)
X_new = SelectFromModel(Lasso(), max_features=10).set_output(transform="pandas")
X_new.fit_transform(X_train_scaled, y_train)

c:\Users\Rafael\Documents\Projects\animal-clf-env\Lib\site-packages\sklearn\feature_selection\_base.py:121: UserWarning: No features were selected: either the data is too noisy or the selection test too strict.
  warnings.warn(

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1352 rows x 0 columns]

array([[  69.,  364.,  425., 2317., 2094.],
       [  29.,   65.,   74., 2634.,  466.],
       [  71.,  160.,  369., 2765., 1430.],
       ...,
       [  23.,  102.,   49., 2270.,  374.],
       [  53.,  368.,  639., 2359., 2190.],
       [  94.,   87.,   34., 2291.,  300.]])